
/*Обнуление*/

/*Чистим все отступы и границы*/
* {               /*Обращение к всей странице*/
  padding: 0;     /*Внутренний отступ*/
  margin: 0;      /*Внешний отступ*/
  border: 0;      /*Границы*/
}

/*Меняет подсчет блока*/
*, *:before, *:after {              /**/
  -moz-box-sizing: border-box;      /**/
  -webkit-box-sizing: border-box;   /**/
  box-sizing: border-box;           /*Размер бокса/пограничный блок*/
}

/*Убираем линии обводки в браузерах*/
:focus, :active {     /**/
  outline: none;      /*Обводка*/
}

/*Убираем линии обводки в браузерах*/
a:focus, a:active {     /**/
  outline: none;        /*Обводка*/
}

/*Некоторые HTML5 теги и добавляем им значение block
  чем делаем их блочными*/
nav, footer, header, aside {      /*Теги HTML5*/
  display: block;                 /*Отображение*/
}

/*Обращение к тегам форм и просим наследовать
  семейство шрифта*/
input, button, textarea {     /*Некоторые теги форм*/
  font-family: inherit;       /*Семейство шрифта/наследовать*/
}

/*Убирает крестик в окне формы в браузере*/
input::-ms-clear {      /**/
  display: none;        /**/
}

/**/
button {                /**/
  cursor: pointer;      /**/
}

/*Убирает отступы вокруг фокуса и кнопок в Мазиле*/
button::-moz-focus-inner {      /**/
  padding: 0;                   /**/
  border: 0;                    /**/
}

/**/
a, a:visited {                /**/
  text-decoration: none;      /**/
}

/**/
a:hover {                     /**/
  text-decoration: none;      /*Декорация текста/нету*/
}

/*Обнуление стилей списков*/
ul, ol, li {            /*Обращение к тегам списков*/
  list-style: none;     /*Стиль списка/нету*/
}

/**/
img {                       /*Обращение к изображениям*/
  vertical-align: top;      /*Вертикальное выравнивание/вверх*/
}

/*Обнуление заголовков*/
h1, h2, h3, h4, h5, h6 {      /*Теги заголовков*/
  font-size: inherit;         /*Размер шрифта/наследовать*/
  font-weight: 400;           /*Вес шрифта*/
}

/*Управление всем телом сайта, шрифтами и элементов
  для разных браузеров, запрещают самовольное увеличение
  шрифта на айфонах*/
html, body {                          /*Основные теги верстки*/
  height: 100%;                       /*Высота*/
  width: 100%;                        /*Ширина*/
  line-height: 1;                  /*Высота строки*/
  font-size:100%;
  font-size: 14px;                    /*Размер шрифта*/
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}
